/* Styles généraux */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Crimson Text', sans-serif;
    background-color: #F5F5DC;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    line-height: 1.5;
}
h1 {
    text-align: center;
    color: #01012f;
    text-shadow: 1px 1px #0a66c2;
    padding-top: 20px;
}
a {
    text-decoration: none;
    color: #337ab7;
}
a:hover {
    color: #23527c;
}

/* Conteneur principal */
.responsive-container {
    max-width: 800px;
    margin: auto;
    padding-top: 30px;
}

/* Styles du header */
header {
    background-color: #ffffff;
    padding: 1rem 19.5rem;
}
header h1 {
    margin-bottom: 10px;
    flex: 1;
}
.header-nav {
    display: flex;
    color: #2B4D89;
    font-weight: bold;
    height: 20px;
}
.header-nav a {
    margin-right: 1.2rem;
}
.header-nav a:hover {
    text-decoration: underline;
}

/* Barre de navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.navbar-nav {
    list-style: none;
    display: flex;
    flex-grow: 1;
}
.nav-item {
    margin-right: 1.2rem;
}
.nav-link {
    color: #2B4D89;
    font-weight: bold;
    text-decoration: none;
}
.nav-link:hover {
    color: #ffffff;
    background-color: #007bff;
}
.nav-user {
    margin-left: auto;
    font-weight: bold;
}
.logo img {
    height: 80px;
    width: auto;
}

/* Formulaire */
form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 70px auto 0;
}
form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"],
form input[type="date"],
form textarea {
    border: 2px solid black;
    border-radius: 10px;
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
}
form input:focus,
form textarea:focus {
    border-color: #007bff;
    border-width: 3px;
    outline: none;
}

/* Boutons */
.btnAppPerso {
    align-self: flex-start;
    display: inline-block;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #2B4D89;
    width: auto;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 50px;
}
.btnAppPerso:hover {
    background-color: #1A365F;
    border-color: #1A365F;
}

/* Tableau */
.table-container {
    margin: 20px 0;
}
.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
.table th, .table td {
    padding: 8px;
    border: 1px solid #ddd;
}
.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Footer */
footer {
    background-color: deepskyblue;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Styles pour les petits écrans */
@media (max-width: 600px) {
    header, .navbar, .container {
        padding: 0 10px;
    }
    form {
        width: 100%;
        margin-top: 20px;
    }
}
